@import "fonts"
@import "libs"
@import "vars"

*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	&:before, &:after
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden
	opacity: 1
	margin: 0
	padding: 0

.img-responsive
	display: block
	max-width: 100%
	height: auto

.container
	max-width: 1260px

.header
	height: 100%
	background: url(../img/Bg-1.jpg)
	background-repeat: no-repeat
	background-size: cover
	background-position: 10% 30%
	position: relative
	&:before
		content: ''
		position: absolute
		width: 100%
		height: 100%
		background: radial-gradient(ellipse at center, rgba(#564f4c,0.5) 0%,rgba(0,0,0,0) 100%)
		z-index: 0

.top_line
	position: relative
	&:before
		content: ''
		position: absolute
		width: 100%
		height: 100%
		left: 0
		top: 0
		background: #000
		opacity: 0.3

.logo
	margin-top: 15px

.menu
	ul
		display: flex
		flex-direction: row
		justify-content: space-around
		list-style-type: none
		font-family: $menu-font
		font-size: 15px
		text-transform: uppercase
		margin: 23px 0

		span
			color: #fff
			font-size: 15px

		.menu-item

			a
				color: #fff
				text-decoration: none
				padding: 10px
				border-radius: 5px
				transition: all 0.3s

				&:hover,:focus
					color: $accentColor
					background: #fff
					border-radius: 3px
.social
	display: flex
	justify-content: flex-end
	align-items: center
	text-align: right
	.fa
		color: #fff
		padding: 10px
		margin-right: 15px
		font-size: 16px
		transition: all 0.3s
		&:hover,:focus
			color: $accentColor
			background: #fff
			border-radius: 3px

.hamburger
	display: none
	position: fixed
	width: 70px
	height: 70px
	right: 10px
	top: 5px
	z-index: 999
	background: #fff
	border-radius: 50%
	box-shadow: 1px 1px 10px rgba(0,0,0,0.4)
	.hamburger-box
		position: absolute
		top: 22px
		.hamburger-inner, .hamburger-inner::after, .hamburger-inner::before
			background: #000
			


.header-body
	display: flex
	flex-direction: column
	justify-content: space-between
	align-items: center
	text-align: center
	h1
		font-family: Playfair Display-Bold
		color: #fff
		font-size: 5.75rem
		text-shadow: 0 1px 0 #000
		white-space: nowrap
		margin-top: 80px

	p 
		color: #fff
		font-size: 1.5rem
		text-shadow: 0 1px 0 #000
		margin-bottom: 60px

	a
		display: inline-block
		padding: 12px 45px
		background: rgba(#5c584f, 0.5)
		font-size: 14px
		font-family: $tittle-font
		border: 1px dashed #9e9c93
		color: #fff
		text-transform: uppercase
		letter-spacing: 5px
		position: relative
		text-decoration: none
		transition: all .3s
		&:hover,:focus
			background: #fff
			color: $accentColor

.menu-box
	list-style-type: none
	display: flex
	flex-direction: column
	height: 90%
	justify-content: flex-start
	margin: 0
	padding: 20px
	padding-top: 50px
	li
		a
			display: inline-block
			text-decoration: none
			color: #fff
			font-family: $menu-font
			text-transform: uppercase
			width: 100%
			border-bottom:  1px solid #fff
			padding: 15px
			font-size: 20px
			transition: all 0.3s
			&:hover,:focus
				background: rgba(#fff, .7)
				color: $accentColor

.menu-burger
	position: fixed
	top: 0
	right: -500px
	max-width: 400px
	min-width: 300px
	height: 100%
	background: rgba($accentColor, 0.8)
	z-index: 8
	margin: 0
	padding: 15px
	transition: all 1s 

.menu-burger-active
	right: 0 

.ArtOfCakes
	background-image: url(../img/Bg-4.jpg)
	background-repeat: no-repeat
	background-size: cover
	padding: 100px 0
	border-top: 10px solid #fff
	position: relative
	&:before
		position: absolute
		content: ''
		width: 80px 
		height: 80px
		border-radius: 50%
		background-color: #fff
		top: -40px
		left: calc(50% - 40px)
	&:after
		position: absolute
		content: ''
		width: 106px 
		height: 106px
		background-image: url(../img/bread-logo.png)
		top: -53px
		left: calc(50% - 53px)

.box1
	text-align: center
	padding: 0 60px
	margin: 0 auto
.h2
	font-family: $tittle-font
	font-size: 48px
	color: $accentColor
	margin-bottom: -15px
	margin-top: 0
	white-space: nowrap
.subTittle
	display: inline-block
	font-family: $tittle-font
	font-size: 14px
	color: $secondColor
	text-transform: uppercase
	margin-bottom: 65px
	letter-spacing: 1px

.discription
	font-size: 14px
	line-height: 1.8
	color: $accentColor
	font-weight: bold
	letter-spacing: 1px	

	h3
		font-family: $tittle-font
		font-size: 24px
		color: $accentColor

.chef-img
	display: flex
	width: 80%
	margin: auto
	justify-content: center
	align-items: center
	position: relative
	span
		font-size: 24px
		color: $accentColor
		padding: 10px
		font-family: $menu-font
		text-transform: none
		margin: 0
		width: 110px
		border-bottom: 1px solid #d7d5ca
		border-top: 1px solid #d7d5ca
	img
		margin: 0 25px

.quote
	p 
		font-family: 'Scriptina'
		font-size: 24px
		color: $secondColor
		font-weight: 400
		position: relative
		line-height: 1.3
		&:before
			content: '\201c'
			position: absolute
			font-family: 'Times New Roman'
			font-size: 60px 
			color: #56534c
			opacity: .5
			top: -15px
			left: 0
		&:after
			content: '\201c'
			position: absolute
			font-family: 'Times New Roman'
			font-size: 60px 
			color: #56534c
			opacity: .5
			bottom: -50px
			right: 0
			transform: scaleX(-1)

.box2
	display: flex
	justify-content: center
	flex-wrap: wrap
	flex-direction: row
	padding: 0
	margin: 0 auto
	position: relative
	&:before
		content: ''
		position: absolute
		width: 247px
		height: 247px
		background: url(../img/TSG.png)
		z-index: 9
		top: calc(50% - 123.5px)
		left: calc(50% - 123.5px)
		opacity: 0.95

	.art-img
		width: 46.5%
		height: 250px
		margin: 10px
		position: relative
		&:before
			content: ''
			position: absolute
			border: 5px solid #fff
			top: 6px
			left: 6px
			right: 6px
			bottom: 6px

	.img1
		background: url(../img/AofC1.jpg)
		background-repeat: no-repeat
		background-size: cover
	.img2
		background: url(../img/AofC2.jpg)
		background-repeat: no-repeat
		background-size: cover
	.img3
		background: url(../img/AofC3.jpg)
		background-repeat: no-repeat
		background-size: cover
	.img4
		background: url(../img/AofC4.jpg)
		background-repeat: no-repeat
		background-size: cover

.tastySlider
	padding: 140px 0 105px 0
	background: url(../img/Bg-2.jpg)
	background-repeat: no-repeat
	background-size: cover
	position: relative
.ready-box
	position: absolute
	height: 200px
	width: 200px
	background: url(../img/land.jpg)
	top: 100px 
	right: 95px
	z-index: 99
	box-shadow: 11px 11px 90px rgba(0,0,0,0.3)
	font-family: $tittle-font
	text-align: center
	letter-spacing: 3px
	p
		text-transform: uppercase
		color: $secondColor
		font-size: 18px
		margin-top: 30px
		margin-bottom: 0

.rb1
	font-size: 92px
	color: #dfc691
	display: block
	line-height: 1

.rb2
	color: #979285

.swiper-container

	.gallery-top
		width: 78%
		height: 510px
		margin-left: 95px

	.gallery-thumbs
		height: 90px
		width: 30%
		position: absolute
		bottom: 30px
		right: 16%
		box-sizing: border-box
    padding: 10px 0
		.swiper-wrapper
			.swiper-slide
				width: 90px
				border-radius: 50%
				opacity: 0.4
				transition: 0.5s
			.swiper-slide-active
				opacity: 1

.swiper-slide 
  text-align: center
  font-size: 18px
  background-repeat: no-repeat
  padding-left: 95px
    
.swiper-pagination-bullet-active 
  color:#fff
  opacity: .4

.slider-img
	height: 510px

.sl-img-1
	background: url(../img/pancake.jpg)
	background-repeat: no-repeat
	background-size: cover
	background-position: 67% 10%

.sl-img-2
	background: url(../img/Sendwich.jpg)
	background-repeat: no-repeat
	background-size: cover
	background-position: 100% 10%

.sl-img-3
	background: url(../img/berry.jpg)
	background-repeat: no-repeat
	background-size: cover
	background-position: 8% 10%

.sl-img-4
	background: url(../img/vegetables.jpg)
	background-repeat: no-repeat
	background-size: cover
	background-position: 100% 10%

.slider-discript
	padding: 65px 85px 0 60px
	text-align: left
	background: url(../img/mill.png)
	background-repeat: no-repeat
	background-position: bottom right
	background-color: #fff

.swiper-button-next, .swiper-button-prev
	top: 86%
	background-image: none !important
	width: 34px
	height: 34px
	border: 2px solid $accentColor
	border-radius: 50%
	.fa
		font-size: 22px
		text-align: center
		line-height: 30px
		display: block
		color: $accentColor

.swiper-button-next
	right: 12%

.swiper-button-prev
	left: 50%

.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled
	color: $secondColor
	opacity: .35
	border-color: $secondColor

.backery-menu
	background: url(../img/Bg-3.jpg)
	background-size: cover
	padding: 70px 0

.breakfast-box-1
	text-align: center
	.h2
		font-size: 60px
		color: #fff
		letter-spacing: 2px
	.subTittle
		font-size: 18px
		color: #c8a593
		margin-bottom: 40px

	.menu-list
		margin-bottom: 40px
		&:last-child
			margin-bottom: 0
		h3
			color: #fff
			font-size: 30px
			font-family: $tittle-font
			letter-spacing: 2px
			margin: 0
		p
			color: #c2beba
			font-size: 16px
			font-family: $default-font
			margin: 0
			font-weight: 600
		span
			color: #dfc691
			font-size: 36px
			font-family: $menu-font
			letter-spacing: 2px
			margin: 0

.breakfast-box-2
	display: flex
	justify-content: center
	.morning
		padding: 10px
		background: #f3f1e9
		width: 70%
		background-image: url(../img/grain.png)
		background-position: bottom right
		background-repeat: no-repeat
		.morning-inner
			width: 100%
			height: 100%
			border: 1px dashed rgba($accentColor, .5)
			text-align: center
			padding: 0 15px
			&:before
				position: absolute
				content: 'Est.'
				text-transform: uppercase
				color: $accentColor
				font-size: 14px
				font-family: $tittle-font
				top: 45px
				left: 32%
			&:after
				position: absolute
				content: '1893'
				text-transform: uppercase
				color: $accentColor
				font-size: 14px
				font-family: $tittle-font
				top: 45px
				right: 32%
			.morning-img
				display: flex
				margin: 0 auto
				margin-top: 65px
				position: relative
				width: 100%
			.h2
				white-space: normal
				font-size: 44px
				margin: 50px 0 25px 0
				line-height: 1.4
			.discription
				font-size: 13px
				line-height: 2.5
			a 
				display: inline-block
				padding: 10px 70px
				font-size: 18px
				text-transform: uppercase
				color: $secondColor
				font-family: $tittle-font
				border: 1px solid $accentColor
				text-decoration: none
				margin-top: 50px
				margin-bottom: 30px
				letter-spacing: 1px

				&:hover,:focus
					background: $accentColor
					color: #fff

.jibarito
	background: #f3f1e9
	text-align: center
	padding-top: 70px

.ingredients
	.ingr-box
		margin-bottom: 50px
		.h4
			font-family: $tittle-font
			color: $secondColor
			font-size: 30px
			margin: 0

.jib-img
	display: flex
	justify-content: flex-end
	position: relative
	img
		width: 90%
		height: 540px
		border: 10px solid #fff
		box-shadow: 1px 5px 10px rgba(0,0,0,.2)
		position: relative
	.ready-box-1,.ready-box-2,.ready-box-3
		width: 200px
		height: 200px
		right: 25px
		position: absolute
	.ready-box-1
		top: -23px
		background: rgba(255,255,255,0.8)
	.ready-box-2
		top: 178px
		background: rgba(255,255,255,0.8)
	.ready-box-3
		top: 380px
		background: url(../img/land.jpg)

@import "media" // Всегда в конце


